<% @photographer.phsamples.each do |phsample| %>
  <p>
  	<%= image_tag phsample.image.url(:small) %>
<% end %>
</p>
<% if user_signed_in? %>
<% if current_user.admin? %>
  <%= form_for([@photographer, @photographer.phsamples.build]) do |f| %>
  <p>
     <%= f.file_field :image %>  
  <%= f.submit %> 
  </p>

<% end %>
<% end %>
<% end %>


