<!doctype html>
<html>
    <body>

<div class="container">
<p>Every bride is face by a million choices before her big day, from the catering, the dress, to the

list of songs, decoration choices and many other choice. Before the wedding, a typical bride 

would Google each item, searching pages and pages trying to find what she needs. 

The purpose of this project is to create a website that can assist brides in their choices and it 

would be containing a strong Database of information about everything a bride needs. 
</p>
</div>
</body>
</html>