<!doctype html>
  <html>
    <div class="margin">
    <body>
      <p align="center"><img src="http://i60.tinypic.com/29ne786.jpg"  alt="Image and video hosting by TinyPic">
      </p>
      <div class="container">
          <p> Every bride is face by a million choices before her big day, from the catering, the dress, to the list of songs, decoration choices and many other choice. Before the wedding, a typical bride would Google each item, searching pages and pages trying to find what she needs. The purpose of this project is to create a website that can assist brides in their choices and it would be containing a strong Database of information about everything a bride needs.
          </p>


          <p align="center"><img src="http://i58.tinypic.com/ixdohu.jpg"  alt="Image and video hosting by TinyPic">
          </p>

          <p> Named after a hassle of choice between all of us as a team, till we settled down on this much expressive and descriptive name. HeyBride is a a <b>fast-growing Bride-related stuff destination</b>
          that offers a broad choice of trendy wedding dresses,suites and the rest of all that pretty much interesting stuff for the bride. We care for bringing all that matters right to the feet bride. We provide this service locally in Egypt, just at the begining, but we are looking forward for reaching the globe.
          </p>
      </div>
    </body>
    </div>
  </html>