
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | HeyBride</title>
    
    <!-- core CSS -->
 <link href="/assets/javascripts/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet">
    
    <link href="/assets/stylesheets/main.css" rel="stylesheet">
    <link href="/assets/responsive.css" rel="stylesheet">

    <script src="/assets/jquery.js"></script>
    <script src="/assets/javascripts/bootstrap.min.js"></script>
    <script src="/assets/javascripts/jquery.prettyPhoto.js"></script>
    <script src="/assets/javascripts/jquery.isotope.min.js"></script>
    <script src="/assets/javascripts/main.js"></script>
    <script src="/assets/javascripts/wow.min.js"></script>

 
</head><!--/head-->



    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(/assets/bride1.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(/assets/bride6.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>

                            

                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(/assets/bride7.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->

    

      <section id="intro1">
            <div class="container">
           <div class="row text-center" >
            <div class="col-md-12">
             
                 <div class="row text-center pad-row  ">
<div class="col-md-5 col-sm-6 ">
                        <img  src="assets/groom0.jpg" style ="border-radius:12px"/>
                          
                       
                    </div>
                     <div class="col-md-6 col-sm-6 ">
                        
                           <h3><strong>Hey Groom </strong> </h3>
                       <p>
                                HeyBride! Can help your Man browse suits for all desginers and shine on your wedding day
                            </p>
                            <a href="#" class="btn btn-primary" >Read Details</a>
                    </div>
                    
        </div>
        </section>

    <!--/.INTRO END-->






<section id="intro2">
            <div class="container">
           <div class="row text-center" >
            <div class="col-md-12">
             
                 <div class="row text-center pad-row  ">

                        <img  src="/assets/bride5.jpg" alt="" />
                    </div>
                    
        </div>
         </div>
                    
        </div>
        </section>
                   
                   
                   
                   
                   
                   <section id="intro1">
            <div class="container">
           <div class="row text-center" >
            <div class="col-md-12">
          
             
                 <div class="row text-center pad-row  ">
                    <div class="col-md-6 col-sm-6 ">
                        
                           <h3><strong>SPictures that lasts forever </strong> </h3>
                       <p>
                               On our website we will help you find the best photogrphers in town
                            </p>
                            <a href="#" class="btn btn-primary" >Read Details</a>
                    </div>
<div class="col-md-5 col-sm-6 ">
                        <img  src="assets/col11.jpg" alt="" />
                          
                       
                    </div>
               </div>
                    
        </div>
         </div>
                    
        <
                    
        </div>
        </section>
                   
                   
                   
                   
                   
                          
                       


        <section id="intro">
            <div class="container">
           <div class="row text-center" >
            <div class="col-md-12">
             
                 <div class="row text-center pad-row  ">
                

                        <img  src="assets/bride10.jpg" alt="" />
                          
                       
            </div>        
                     
         </div>            
        </div>
         </div>
        </section>





