


<body>
  <div class="container"></div>

 <div class="profilePhoto"> 

    <!-- Profile photo --> 

    <img src="http://i60.tinypic.com/30i8gn4.jpg" border="0" alt="Image and video hosting by TinyPic"></a> </div>

  <!-- Identity details -->

  <section class="profileHeader">

    <h1>Salma Adel </h1>

    <h3>Just a loser in the GUC</h3>

    <hr>

    <p>Hello everyone.I'm 21 years old and currently in my 3rd year at the GUC studying Business Informatics.I'm a graduate of RCG ;this school is like a 2nd home to me and influenced me a lot and Im still in contact with my school-buddies ,they're like a family to me.Sports :I used to play Basketball andas for Music: I'd love to learn how to play the piano.Last but not least I like food and I CODE FOR FOOD!!</p>

  </section>

   <!-- Links to Social network accounts -->

  <aside class="socialNetworkNavBar">

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <a href="https://www.facebook.com/saloma.adel.9?fref=ts"> <img src="http://i58.tinypic.com/4gsps7.jpg" border="0" alt="Image and video hosting by TinyPic"></a> </div>

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <img src="http://i60.tinypic.com/xckt9w.jpg" border="0" alt="Image and video hosting by TinyPic"></a></div>

    

  </aside>
</header>

<!-- content -->

<section class="mainContent"> 

  <!-- Contact details -->

  <section class="section1">

    <h2 class="sectionTitle">Basic Information</h2>

    <hr class="sectionTitleRule">

    <hr class="sectionTitleRule2">

    <div class="section1Content">

      <p><span>Email :</span> salmaadel921@gmail.com</p>

      <p><span>Date of Birth :</span> 10.10.1993</p>

      <p><span>Phone :</span> 01281936622</p>

      <p><span>Address :</span>Cairo ,Egypt</p>

    </div>

  </section>
</div>
  <div class="profileLogo"> 

    <!-- Profile logo. Add a img tag in place of <span>. -->

   

  <div class="profilePhoto"> 

    <!-- Profile photo -->    <img src="http://i61.tinypic.com/22ydya.jpg" border="0" alt="Image and video hosting by TinyPic"></a> </div>

  <!-- Identity details -->

  <section class="profileHeader">
  <h1> Aya Magdy </h1>
<h3>REALLY AWESOME WEB DESIGNER</h3>

    <hr>

    <p>I'm a 3rd year Business Informatics student.I spent the last semester in Berlin It was one  hell of an experience that I would definitely do again.I love travelling and learning new languages.I'm obsessed with fitness and dancing.Also I'd really love to learn yoga</p>

  </section>

  <!-- Links to Social network accounts -->

  <aside class="socialNetworkNavBar">

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <a href="https://www.facebook.com/profile.php?id=100006836589252" > <img src="http://i58.tinypic.com/4gsps7.jpg" border="0" alt="Image and video hosting by TinyPic"></a> </div>

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <img src="http://i60.tinypic.com/xckt9w.jpg" border="0" alt="Image and video hosting by TinyPic"></a></div>

    

  </aside>

</header>


<section class="mainContent"> 

  <!-- Contact details -->

  <section class="section1">

    <h2 class="sectionTitle">Basic Information</h2>

    <hr class="sectionTitleRule">

    <hr class="sectionTitleRule2">

    <div class="section1Content">

      <p><span>Email :</span> aya.magdy8@gmail.com <br>
      aya.mansour@student.guc.edu.eg </br></p>
  <p><span>Date of Birth :</span> 08.11.1993</p>
     
      <p><span>Phone :</span> 01021717337</p>

      <p><span>Address :</span> Nasr City,Cairo</p>

    </div>

</section>

  <!-- Previous experience details -->

  
  <div class="profilePhoto"> 

    <!-- Profile photo --> 

    <img src="http://i57.tinypic.com/dewf8k.jpg" border="0" alt="Image and video hosting by TinyPic"> </div>

  <!-- Identity details -->

  <section class="profileHeader">

    <h1>Donia Magdy</h1>

    <h3> Programmer </h3>

    <hr>

    <p>Guc 3rd year BI Student and Owner of Code4Food </p>

  </section>

   <!-- Links to Social network accounts -->

  <aside class="socialNetworkNavBar">

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <a href="https://www.facebook.com/rana.alaa.70?fref=ts"> <img src="http://i58.tinypic.com/4gsps7.jpg" border="0" alt="Image and video hosting by TinyPic"></a> </div>

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <img src="http://i60.tinypic.com/xckt9w.jpg" border="0" alt="Image and video hosting by TinyPic"></a></div>

    

  </aside>
</header>

<!-- content -->

<section class="mainContent"> 

  <!-- Contact details -->

  <section class="section1">

    <h2 class="sectionTitle">Basic Information</h2>

    <hr class="sectionTitleRule">

    <hr class="sectionTitleRule2">

    <div class="section1Content">

      <p><span>Email :</span> doniamagdymourad@gmail.com</p>

      <p><span>Date of Birth :</span> 14.06.1994</p>

      <p><span>Phone :</span> 01206606623</p>

      <p><span>Address :</span>Cairo ,Egypt</p>

    </div>

  </section>
   <div class="profilePhoto"> 

    <!-- Profile photo --> 

    <img src="http://i60.tinypic.com/14llvfa.jpg" border="0" alt="Image and video hosting by TinyPic"> </div>

  <!-- Identity details -->

  <section class="profileHeader">

    <h1>Hanan Ghannam</h1>

    <h3> An Efficient Programmer</h3>

    <hr>

    <p> Guc BI Student and Owner of Code4Food </p>

  </section>

   <!-- Links to Social network accounts -->

  <aside class="socialNetworkNavBar">

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <a href="https://www.facebook.com/princess.coraline.5"> <img src="http://i58.tinypic.com/4gsps7.jpg" border="0" alt="Image and video hosting by TinyPic"></a> </div>

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <img src="http://i60.tinypic.com/xckt9w.jpg" border="0" alt="Image and video hosting by TinyPic"></a></div>

    

  </aside>
</header>

<!-- content -->

<section class="mainContent"> 

  <!-- Contact details -->

  <section class="section1">

    <h2 class="sectionTitle">Basic Information</h2>

    <hr class="sectionTitleRule">

    <hr class="sectionTitleRule2">

    <div class="section1Content">

      <p><span>Email :</span> Hanan.Ghannam93@gmail.com</p>

      <p><span>Date of Birth :</span> 21.12.1993</p>

      <p><span>Phone :</span> 01060286681</p>

      <p><span>Address :</span>Cairo ,Egypt</p>

    </div>

  </section>
 <div class="profilePhoto"> 

    <!-- Profile photo --> 

    <a href="http://tinypic.com?ref=24b21r8" target="_blank"><img src="http://i59.tinypic.com/24b21r8.jpg" border="0" alt="Image and video hosting by TinyPic"></a> </div>

  <!-- Identity details -->

  <section class="profileHeader">

    <h1>Jala Ashraf</h1>

    <h3> Girly Programmer because simply my life is all about PINK</h3>

    <hr>

    <p>Hello there! I'm a 6th semester BI student in GUC.</p>

  </section>

   <!-- Links to Social network accounts -->

  <aside class="socialNetworkNavBar">

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

     <a href= "https://www.facebook.com/jala.a.saeed"> <img src="http://i58.tinypic.com/4gsps7.jpg" border="0" alt="Image and video hosting by TinyPic"></a> </div>

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <a href= "https://twitter.com/jalaashraf"><img src="http://i60.tinypic.com/xckt9w.jpg" border="0" alt="Image and video hosting by TinyPic"></a></div>

    

  </aside>

</header>


<section class="mainContent"> 

  <!-- Contact details -->

  <section class="section1">

    <h2 class="sectionTitle">Basic Information</h2>

    <hr class="sectionTitleRule">

    <hr class="sectionTitleRule2">

    <div class="section1Content">

      <p><span>Email :</span> jala.ashraf.saeed@gmail.com <br>
      jala.saeed@student.guc.edu.eg </br></p>
  <p><span>Date of Birth :</span> 30.1.1994</p>
     
      <p><span>Phone :</span> 01234567891</p>

      <p><span>Address :</span> Nasr City,Cairo</p>

    </div>

  </section>

 
  <!-- Profile photo --> 
    <a href="http://tinypic.com?ref=281ptu" target="_blank"><img src="http://i57.tinypic.com/281ptu.jpg" border="0" alt="Image and video hosting by TinyPic"></a>

    </div>

  <!-- Identity details -->

  <section class="profileHeader">

    <h1>Mayada  </h1>

    <h3> Im a hardworker programmer </h3>

    <hr>

    <p>I'm a Business informatics student 3rd year ,an owner of Code4food,  and all my dreams and nightmares come true :) </p>

  </section>

   <!-- Links to Social network accounts -->

  <aside class="socialNetworkNavBar">

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <a href="https://www.facebook.com/mayada.tarek?fref=ts"> <img src="http://i58.tinypic.com/4gsps7.jpg" border="0" alt="Image and video hosting by TinyPic"></a> </div>

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <img src="http://i60.tinypic.com/xckt9w.jpg" border="0" alt="Image and video hosting by TinyPic"></a></div>

    

  </aside>
</header>

<!-- content -->

<section class="mainContent"> 

  <!-- Contact details -->

  <section class="section1">

    <h2 class="sectionTitle">Basic Information</h2>

    <hr class="sectionTitleRule">

    <hr class="sectionTitleRule2">

    <div class="section1Content">

      <p><span>Email :</span> Mayadat.elmeraghy@gmail.com</p>

      <p><span>Date of Birth :</span> 17.01.1995</p>

      <p><span>Phone :</span> 00000000</p>

      <p><span>Address :</span>Cairo ,Egypt</p>

    </div>

  </section>

  <div class="profilePhoto"> 

    <!-- Profile photo --> 

    <img src="http://i61.tinypic.com/2is89kn.jpg" border="0" alt="Image and video hosting by TinyPic"> </div>

  <!-- Identity details -->

  <section class="profileHeader">

    <h1>Rana Alaa' </h1>

    <h3> Im a hardworker programmer </h3>

    <hr>

    <p>Hi I'm Rana .I adore playing tennis,shopping and dogs and  I believe that life is worth living happily and taking risks </p>

  </section>

   <!-- Links to Social network accounts -->

  <aside class="socialNetworkNavBar">

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <a href="https://www.facebook.com/rana.alaa.70?fref=ts"> <img src="http://i58.tinypic.com/4gsps7.jpg" border="0" alt="Image and video hosting by TinyPic"></a> </div>

    <div class="socialNetworkNav"> 

      <!-- Add a Anchor tag with nested img tag here --> 

      <img src="http://i60.tinypic.com/xckt9w.jpg" border="0" alt="Image and video hosting by TinyPic"></a></div>

    

  </aside>
</header>

<!-- content -->

<section class="mainContent"> 

  <!-- Contact details -->

  <section class="section1">

    <h2 class="sectionTitle">Basic Information</h2>

    <hr class="sectionTitleRule">

    <hr class="sectionTitleRule2">

    <div class="section1Content">

      <p><span>Email :</span> rana.alaa70@gmail.com</p>

      <p><span>Date of Birth :</span> 01.05.1994</p>

      <p><span>Phone :</span> 01002374760</p>

      <p><span>Address :</span>Cairo ,Egypt</p>

    </div>

  </section>


