<!doctype html>
  <html>
    <head>
      <link href='css/fontfamily.css' rel='stylesheet'>
      <link href="css/aya.css" rel="stylesheet">
    </head>

<body>
  <div class="margin">
  <div class="profileleft">
    <img src="http://i60.tinypic.com/30i8gn4.jpg" style="width: 220px; height: 220px; border-radius: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, .8);"> 
    <h1>Salma Adel </h1>
    <p>Hello everyone.I'm 21 years old and currently in my 3rd year at the GUC studying Business Informatics.I'm a graduate of RCG ;this school is like a 2nd home to me and influenced me a lot and Im still in contact with my school-buddies ,they're like a family to me.Sports :I used to play Basketball andas for Music: I'd love to learn how to play the piano.Last but not least I like food and I CODE FOR FOOD!!</p>
  </div> 
    <p>
  <div class="profileright">
    <img src="http://i61.tinypic.com/22ydya.jpg" style="width: 220px; height: 220px; border-radius: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, .8);"></div> 
    <div class="profilename" style="margin-left: 800px;">Aya Magdy</div>
    <div class="profiledesc">I'm a 3rd year Business Informatics student.I spent the last semester in Berlin It was one  hell of an experience that I would definitely do again.I love travelling and learning new languages.I'm obsessed with fitness and dancing.Also I'd really love to learn yoga</div>
  </div>
  <p>
    <div class="profileleft">
    <img src="http://i57.tinypic.com/dewf8k.jpg"  style="width: 220px; height: 220px; border-radius: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, .8);"> 
    <h1>Donia Magdy </h1>
    <p>Guc 3rd year BI Student and Owner of Code4Food </p>
    </div> 
  <p>
    <div class="profileright">
    <img src="http://i60.tinypic.com/14llvfa.jpg" style="width: 220px; height: 220px; border-radius: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, .8);"></div> 
    <div class="profilename">Hanan Ghannam</div>
    <div class="profiledesc" style="margin-left: 730px;">Guc BI Student and Owner of Code4Food </div>
    </div>
  <p>
    <div class="profileleft">
    <img src="http://i59.tinypic.com/24b21r8.jpg"  style="width: 220px; height: 220px; border-radius: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, .8);"> 
    <h1>Jala Ashraf </h1>
    <p>Girly Programmer because simply my life is all about PINK. Guc 3rd year BI Student and Owner of Code4Food </p>
    </div> 
  <p>
    <div class="profileright">
    <img src="http://i57.tinypic.com/281ptu.jpg" style="width: 220px; height: 220px; border-radius: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, .8);"></div> 
    <div class="profilename" style="margin-left: 800px;">Mayada Tarek</div>
    <div class="profiledesc">I'm a Business informatics student 3rd year ,an owner of Code4food,  and all my dreams and nightmares come true :)  </div>
    </div>
  <p>
    <div class="profileleft">
    <img src="http://i61.tinypic.com/2is89kn.jpg"  style="width: 220px; height: 220px; border-radius: 100%; box-shadow: 0 0 8px rgba(0, 0, 0, .8);"> 
    <h1>Rana Alaa </h1>
    <p>Hi I'm Rana .I adore playing tennis,shopping and dogs and  I believe that life is worth living happily and taking risks. </p>
    </div> 
    </div>
  <p>
</body>