.container0 {
 position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 1280px;
  height:120px;
  margin-top: -20px;
  padding-top: 20px;
}

.container {
  width: 960px;
}
.logo-icon{
	margin-left: 40px;
}

.nav-top{
padding-top: 20px;
  padding-bottom: 10px;
  width:1380px;
  height:100px;
}

.nav-bottom{
	background-color: #F9A7B0;
	width:100%;
	min-width: 1380px;
	height:50px;
	  padding-left: 10px;
  padding-right: 10px;

}
.header {
	height:200px;
	width :100%;
  background-color: rgba(255, 255, 255, 0.95);
 
  
  font-family: 'Calibri', sans-serif;
  font-weight: 500;

  
  font-size: 17px;
 
}




/* Menu */ 

.header .menu {
  float: left;
  list-style: none;
  margin-top: -5px;

}
#header-right {
    float: right;
    width: 300px;
    margin-right: 20px;
    margin-top:20px;
    text-align: center;
}
.nav-out> li {
  display: inline;
   padding-left: 40px;
  

}
.nav-out a{
	color: #F9A7B0;
	font-weight: bold;

}

.element {
    position: relative;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.element:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}

.nav-menu{
margin-left:-40px;
min-width: 1380px;
	height:50px;
	padding-top: 20px;

}
.menu > li {
  display: inline;
  padding-left: 40px;
  padding-right: 40px;
 
}


.menu a {
  color: white;
  font-weight:bold;
  width:100%;
  
}

/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}

.footer li {
  display: inline;
  padding-left: 40px;
   
  }
.footer a{
  color:black;
}