.container0 {
 position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-width: 1280px;
  height:120px;
  margin-top: -20px;
  padding-top: 20px;
}

.container {
    float: left;


}

section {
  float: left;
  margin: 0 1.5%;
  width: 10%;
}

aside {
  float: right;
  margin: 3 1.5%;
  width: 83%;
  position:fixed;
 
}

.ay{
  position: absolute;
  margin: 0 0.5%;
  float: right;
  
}

.logo-icon{
	margin-left: 40px;
}


.nav-top{
padding-top: 20px;
  padding-bottom: 10px;
  width:1380px;
  height:100px;
}

.nav-bottom{
	background-color: #FC6C85;
	width:100%;
	min-width: 1380px;
	height:50px;
	padding-left: 10px;
  padding-right: 10px;

}
.header {
	height:200px;
	width :100%;
  background-color: rgba(255, 255, 255, 0.95);
 
  
  font-family: 'Calibri', sans-serif;
  font-weight: 500;

  
  font-size: 17px;
 
}




/* Menu */ 

.header .menu {
  float: left;
  list-style: none;
  margin-top: -5px;

}
#header-right {
    float: right;
    width: 300px;
    margin-right: 20px;
    margin-top:20px;
    text-align: center;
}
.nav-out> li {
  display: inline;
   padding-left: 40px;
  

}
.nav-out a{
	color: #F9A7B0;
	font-weight: bold;

}

.element {
    position: relative;
}
 
/*replace the content value with the
corresponding value from the list below*/
 
.element:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    top: 10px;
    left: 0;
}

.nav-menu{
margin-left:40px;
min-width: 1380px;
	height:50px;
	padding-top: 20px;
	background-color: #FC6C85;

}
.menu > li {
  display: inline;
  padding-left: 40px;
  padding-right: 40px;
 
}


.menu a {
  color: white;
  font-weight:bold;
  width:100%;
  
}

/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}




	.profileleft{
	  margin-left: 100px;
	  width: 250px;
	  background-color: transparent;
	  text-align: justify;
	}
	
	.profileright {
	  margin-left: 780px;
	  width: 250px;
	  background-color: transparent;
	  text-align: justify;
	  
	}
	
	.profilename {
	  display: inline;
	  font-size: 35px;
	  text-transform: none;
	  text-align: justify;
	  margin-left: 730px;
	}
	
	.profiledesc {
	  display: inline-block;
	  width: 250px;
	  font-size: 14px;
	  font-weight: normal;
	  text-transform: none;
	  margin-left: 780px;
	  margin-top: 5px;
	  text-align: justify;
	}
	.margin{
    margin-left: 70px;
    margin-right: 0px;
	}
	
	
	ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: none;
	width: 100%;
	
}

ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	height: 52px;
	line-height: 31px;
	border-top: none;
	border-right: 4px solid  white; 
	border-left: none;
	border-bottom: none;
	background-color:  #D3D3D3;
	color: white;
	overflow: hidden;
	position: relative;
}

.tab_last { border-right: 1px solid  #D3D3D3; }

ul.tabs li:hover {
	background-color: #E77471;
	color: white;
}

ul.tabs li.active {
	background-color: #E77471;
	color: white;
	border-bottom: none;
	display: block;
}

.tab_container {
	border: 2px solid #333;
	border-top: none;
	clear: both;
	float: left;
	width: 70%;
	background: #fff;
	overflow: auto;
	height: 600px;
	border-left: none;
	border-right: none;
	border-bottom: none;

}

.tab_content {
	padding: 20px;
	display: none;
}

.tab_content2 {
	padding: 20px;
	display: none;
}


.tab_content3 {
	padding: 20px;
	display: none;
}

.tab_drawer_heading { display: none; }

@media screen and (max-width: 480px) {
	.tabs {
		display: none;
	}
	.tab_drawer_heading {
		background-color: #ccc;
		color: #fff;
		border-top: none;
		margin: 0;
		padding: 5px 20px;
		display: block;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
	}
	.d_active {
		background-color: #666;
		color: #fff;
	}
	
}
/*slider*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; height: 500px;}
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  height: 500%;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
  	list-style:none;

}
