
<% @hairdresser.samples.each do |sample| %>
  <p>
  	<%= image_tag sample.image.url(:small) %>
<% end %>
</p>
<% if user_signed_in? %>
<% if current_user.admin? %>
  <%= form_for([@hairdresser, @hairdresser.samples.build]) do |f| %>
  <p>
     <%= f.file_field :image %>  
  <%= f.submit %> 
  </p>

<% end %>
<% end %>
<% end %>

