<link href="css/vendors.css" rel="stylesheet">
<% @vendors.in_groups_of(3, false) do |vendors| %>
  <div class="row">
    <% vendors.each do |vendor| %>
      <div class="col-md-3">
        <%= image_tag vendor.image.url(:small), :size => "200x200" %>  <br> 
        <%= link_to vendor.name, vendor %><br>
      </div>
    <% end %>
  </div>
<% end %>
<% if @vendors.size.zero? %>
  <div class="centered">
    No Matches Found
  <div>
<% end %> 